body {
    font-size: 20px;
    font-family: monospace;
  }
  
  #container {
    margin: 20px auto;
    background-color:rgb(192, 218, 228);
    height: 300px;
    width: 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
  }
  
  #choices {
    width: 480px;
    position: center;
    right: 0;
    top: 80px;
    padding: 10px;
  }
  .choice {
    display: inline-block-center;
    width: 60x;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
  }
  .choice:hover {
    border: 2px solid grey;
    font-weight: bold;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }
  
  .highScores {
    height: 125px;
    margin: auto;
    right: 0;
    text-align: center;
    top: 0;
    width: 500px;
  }
  .highScoresBtn {
    cursor: pointer;
  }
  .highScoresBtn:hover {
    font-weight: bold;
  }
  
  .highScoresTitle {
    font-size: 25px;
  }
  
  .homeBtn {
    bottom: 0;
    cursor: pointer;
    margin: 10px;
    position: absolute;
  }
  .homeBtn:hover {
    font-weight: bold;
  }
  .nameAndScore {
    margin: 10px;
  }
  .question {
    height: 125px;
    margin: auto;
    right: 0;
    text-align: center;
    top: 0;
    width: 500px;
  }
  
  .question p {
    font-size: 1.25em;
    margin: 0;
    padding: 15px;
  }
  
  .score {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  .start {
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width: 100px;
    border: 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 300px;
    top: 50px;
    color: black;
  }
  .start:hover {
    border: 3px solid rgb(107, 6, 99);
    color: rgb(107, 6, 99);
  }